@font-face
	font-family 'NewBaskervilleC'
	src url('~@/assets/fonts/NewBaskervilleC.otf') format('opentype')
	font-style normal

@font-face
	font-family 'PT Sans'
	src url('~@/assets/fonts/2221.ttf') format('truetype')
	font-style normal
